
body {
    font-style: sans-serif;
    background-color: #f4f4f4e8;
    text-align: center;
}
#movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 50px;
}
.movie-card {
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
    border-radius: 10px;
    padding: 20px;
}
.movie-card:hover {
    transform: scale(1.03);
}
.movie-card button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.toggleBtn {
    background-color: green;
    color: white;
}
.removeBtn {
    background-color: red;
    color: white;
}
input {
    margin: 10px;
    padding: 8px 12px;
}
footer{
    background-color: white;
    margin-top: 100vh;
}

